@charset "UTF-8";
section {
  width: 100%;
  min-height: 100vh;
}

section > .container {
  padding: 40px 75px;
}

@media screen and (max-width: 768px) {
  section > .container {
    padding: 20px 50px !important;
  }
}

@media screen and (max-width: 480px) {
  section > .container {
    padding: 20px !important;
  }
}

#topnav-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 86.4px;
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 5;
}

#topnav {
  max-width: 1400px;
  position: fixed;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 5;
  height: 86px;
}

#topnav #box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 18px 100px;
  -webkit-transition: .5s;
  transition: .5s;
}

#topnav #box .nav-logo {
  width: 85px;
}

#topnav #box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#topnav #box .right .topnav-items {
  margin: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#topnav #box .right .topnav-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: green;
  font-weight: 500;
  font-size: .9em;
  cursor: pointer;
}

#topnav #box .right .topnav-items .sign-up {
  font-size: .8em;
  padding: 12px 18px;
  margin-right: 0 !important;
  background-color: green;
  color: #fff;
  border-radius: 7px;
}

#topnav #box .right .topnav-items .nav-user {
  background-color: green;
  color: #fff !important;
  border-radius: 99px;
  padding: 6px 12px;
}

#topnav #box .right .topnav-items:last-child {
  margin-right: 0 !important;
}

#topnav #box .right .topnav-items.responsive {
  display: none;
  font-size: 1.8em;
}

#topnav.scroll-top {
  height: 150px;
  padding: 0px 100px;
}

#topnav.scroll-top #box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 18px 24px;
  border-radius: 7px;
}

#topnav.scroll-top #box .nav-logo {
  width: 85px;
}

#topnav.scroll-top #box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#topnav.scroll-top #box .right .topnav-items {
  margin: 0px 16px;
}

#topnav.scroll-top #box .right .topnav-items a {
  text-decoration: none;
  color: green;
  font-weight: 500;
  font-size: .9em;
}

#topnav.scroll-top #box .right .topnav-items .sign-up {
  font-size: .8em;
  padding: 12px 18px;
  margin-right: 0;
  background-color: green;
  color: #fff;
  border-radius: 7px;
}

@media screen and (max-width: 768px) {
  #topnav #box {
    padding: 18px 50px;
  }
  #topnav.scroll-top {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 631px) {
  #topnav #box {
    padding: 18px 20px;
  }
  #topnav.scroll-top {
    padding: 20px;
  }
  #topnav .right .topnav-items:not(.responsive) {
    display: none !important;
  }
  #topnav .right .responsive {
    display: unset !important;
  }
}

#banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 800px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/banner-bg.jpg) fixed;
  background-size: cover;
}

#banner img {
  width: 900px;
}

@media screen and (min-width: 1000px) {
  #banner {
    height: 100vh;
  }
}

#content {
  background-color: #fff;
}

#content .container {
  padding: 24px 100px;
}

#content .section-heading {
  text-align: center;
  font-weight: 600;
  margin: 50px auto 40px auto;
  font-size: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

#content .section-heading span {
  color: green;
}

#content .section-heading::before, #content .section-heading::after {
  content: '✕ ✕ ✕';
  word-spacing: -6px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  color: #CCC;
}

#content .section-heading::before {
  left: -20px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

#content .section-heading::after {
  right: -20px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#content video {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

#content #activity .activity-list {
  margin-top: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(25% - 14px))[4];
      grid-template-columns: repeat(4, calc(25% - 14px));
  grid-gap: 18px;
}

#content #activity .activity-list .activity-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  padding: 24px;
}

#content #activity .activity-list .activity-items .activity-heading {
  font-weight: 700;
  color: #fff;
}

#content #activity .activity-list .activity-items .btn-activity {
  padding: 12px 18px;
  width: 100%;
  border-radius: 7px;
  background-color: green;
  color: #fff;
  font-size: .8em;
  border: 0;
  font-family: "Outfit";
  font-weight: 600;
  margin-top: 14px;
}

#content #activity .activity-list .activity-items .btn-activity .fad {
  margin-left: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

#content #activity .activity-list .activity-items .activity-detail {
  display: none;
  color: #eee;
  font-size: .8em;
}

@media screen and (max-width: 842px) {
  #content #activity .activity-list {
    -ms-grid-columns: (calc(50% - 9px))[2];
        grid-template-columns: repeat(2, calc(50% - 9px));
  }
}

#content #price .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

#content #price .box .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #ccc;
}

#content #price .box .price-list ul {
  width: calc(100% - 75px);
  padding-left: 16px;
}

#content #price .box .price-list ul li {
  margin-bottom: 6px;
  list-style: none;
  color: #444;
  position: relative;
  font-size: .9em;
}

#content #price .box .price-list ul li::before {
  content: "◆";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-size: .6em;
  position: absolute;
  left: -16px;
  top: 4px;
  color: #008000;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
}

#content #price .box .price-list .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 75px);
}

#content #price .box .price-list .fad {
  color: green;
  font-size: 2em;
}

#content #price .box .price-list h5 {
  color: #666;
  font-size: .7em;
}

#content #price .box .price-list .price {
  font-weight: 600;
  font-size: 1em;
}

#content #price .box .price-list .name {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 12px;
  color: #2e4d2e;
}

#content #price .box .price-list a {
  width: 75%;
  cursor: pointer;
}

#content #price .box .price-list .btn-price {
  width: 100%;
  background-color: green;
  padding: 12px;
  border-radius: 7px;
  font-family: "Outfit";
  margin-top: 18px;
  font-weight: 600;
  color: #fff;
  border: 0;
  cursor: pointer;
}

#content #price .box .price-list:last-child {
  border: 0;
}

@media screen and (max-width: 1246px) {
  #content #price .box ul, #content #price .box .price-box, #content #price .box a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 30px);
  }
  #content #price .box .price-box > div {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 980px) {
  #content #price .box {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  #content #price .box .price-list {
    margin-bottom: 48px;
  }
  #content #price .box .price-list:nth-child(2n+2) {
    border: 0;
  }
}

@media screen and (max-width: 426px) {
  #content #price .box {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  #content #price .box .price-list {
    margin-bottom: 56px;
    border: 0 !important;
  }
}

#content #social-media {
  margin-bottom: 50px;
}

#content #social-media .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

#content #social-media .box .social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #social-media .box .social-media-list .fab {
  font-size: 2.7em;
  color: #ddd;
}

#content #social-media .box .social-media-list h4 {
  font-weight: 600;
  margin: 12px 0px;
}

#content #social-media .box .social-media-list h5 {
  font-size: .9em;
  color: #666;
}

@media screen and (max-width: 580px) {
  #content #social-media .box {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  #content #social-media .social-media-list {
    margin: 24px 0px;
  }
}

#footer {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9em;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #085f08;
  color: #fff;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7;
}

.modal .void {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal .modal-box {
  position: absolute;
  border-radius: 9px;
  background-color: #fff;
  padding: 27px;
  min-width: 360px;
  max-width: 360px;
  z-index: 1;
}

.modal .modal-box .close-modal {
  position: absolute;
  top: 27px;
  right: 27px;
  font-size: 1.2em;
  color: #999;
  cursor: pointer;
}

.modal .modal-box p {
  font-size: .8em;
  color: #666;
}

.modal .modal-box p a {
  color: green;
  cursor: pointer;
}

.modal .modal-box p.error {
  color: #ff6161;
  font-weight: 600;
}

.modal .modal-box p.error .fad {
  margin-right: 4px;
}

.modal .modal-box .modal-heading {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 12px;
}

.modal .modal-box .modal-heading span {
  color: green;
}

.modal .modal-box .btn-modal {
  width: 100%;
  border-radius: 7px;
  border: 0;
  font-family: "Outfit";
  background-color: #999;
  font-weight: 1em;
  color: #fff;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-box .btn-modal.green {
  background-color: green;
  color: #fff;
}

.modal .modal-box .btn-modal img {
  display: none;
  width: 21px;
}

.input-group-float {
  position: relative;
  margin: 18px 0px;
}

.input-group-float input, .input-group-float select {
  width: 100%;
  padding: 12px 18px 12px 40px;
  border-radius: 7px;
  border: 0;
  background-color: #eee;
  font-family: "Outfit";
}

.input-group-float input::-webkit-input-placeholder, .input-group-float select::-webkit-input-placeholder {
  font-family: "Outfit";
}

.input-group-float input:-ms-input-placeholder, .input-group-float select:-ms-input-placeholder {
  font-family: "Outfit";
}

.input-group-float input::-ms-input-placeholder, .input-group-float select::-ms-input-placeholder {
  font-family: "Outfit";
}

.input-group-float input::placeholder, .input-group-float select::placeholder {
  font-family: "Outfit";
}

.input-group-float .fad {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: green;
}
/*# sourceMappingURL=home.css.map */